################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/chapter07EXCERCISES/v16/Server/sqlite3
